<div class="container">
    <h1 class="container__header">Bienvenido</h1>
    <div class="container_card">
        <mat-card class="card-container">
            <mat-card-header>
                <mat-card-title> Tornillos </mat-card-title>
                <mat-card-subtitle>100 tornillos por revisar</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="card__container__button">
                <button mat-flat-button color="warn">Revisar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>